*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
    font-family: 'Roboto', sans-serif;   
    scroll-behavior: smooth; 
}
.container{
    max-width: 1200px;
    margin: auto;
}
.section_inner{
    padding-top: 115px;
}
/* strat header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.hder_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hder_content nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 30px;
}
nav ul li{
    list-style: none;
    padding: 55px 15px;
}
nav li span{
    display: inline-block;
    color: #070120;
    margin-right: 5px;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.5s;
}
nav ul li i{
    font-size: 10px;
    color: black;
}
.hder_content ul li:hover span{
    animation: UpToDown 0.3s;
    color: #f55f8d;
}
.hder_content ul li:hover i{
    color: #f55f8d;
}
nav .button_header{
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 32px;
    transition: 0.5s;
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
nav .button_header:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
/* end header */
/* start Carousel */
.Carousel{
    background-image: url(../Samar/pic2.png);
    padding-top: 180px;
    overflow: hidden;
    background-position: top;
    background-size: 100%;
}
.carousel_content{
    display: flex;
    align-items: center;
}
.content_left{
    width: 64%;
    /* display: flex;
    flex-direction: column; */
}
.content_right{
    width: 36%;
}
.carousel_title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}
.carousel_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}
.carousel_article p{
    font-size: 18px;
    margin-bottom: 15px;
    color: #696868;
}
.carousel_article ul{
    margin-bottom: 20px;
}
.carousel_article ul li{
    display: flex;
    padding: 10px 5px 10px 0;
    font-size: 20px;
}
.carousel_article ul li i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    text-align: center;
    border-radius: 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 14px;
    color: #fff;
}
.carousel_article ul li p{
    margin-top: 6px;
    font-size: 20px;
}

.carousel_article button{
    padding: 20px 35px;
    font-size: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    line-height: 1.2;
}
.content_right img{
    max-width: 300%;
    display: block;    
}
.carousel_article button:hover{
    background-position: right center;
    color: #fff;
}
/* end Carousel */
/* start Services */
.Services{
    background-image: url(../Samar/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 120px;
}
.services_title p{
    font-size: 22px;
    margin-bottom: 22px;
    color: #f55f8d;
    font-weight: 600;
}
.services_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 22px;
}
.services_content{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}
.services_item{
    /* border: 1px solid red; */
    padding: 30px 45px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: 0.5s;
}
.services_item:hover {
    transform: translateY(-20px);
}
.services_item img{
    width: 215px;
}
.services_item h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* end Services */
/* start AboutUs */
.AboutUs {
    background-image: url(../Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}
.AboutUs_Content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* padding-top: 180px; */
}
.AboutUs_Content_Left{
    width: 60%;
    position: absolute;
    left: -17%;  
}
.AboutUs_Content_Right{
    width: 50%;
    margin-left: 50%;
}
.AboutUs_Content_Left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.AboutUs_Content_Right .title_p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 15px;
}
.AboutUs_Content_Right .title_h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}
.AboutUs_Content_Right .p2{
    margin-bottom: 15px;
    color: #636363;
}
.AboutUs_Content_Right ul{
    margin-bottom: 30px;
}
.AboutUs_Content_Right li{
    display: flex;
    margin-bottom: 12px;
}
.AboutUs_Content_Right li i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    /* vertical-align: middle làm cho dấu check và p thẳng hàng.*/
    /* vertical-align: middle; */
}
.AboutUs_Content_Right li p{
    margin-top: 5px;
    color: #636363;
}
.AboutUs_Content_Right .About_Us_Btn-gradient{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.2;
    transition: .5s;
}
.AboutUs_Content_Right .About_Us_Btn-gradient:hover{
    background-position: right center;
    color: #fff;
}
/* end AboutUs */
/* start Number */
.number{
    background-image: url(../Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px 0;
    overflow: hidden;
}
.number_content{
    display: flex;
    justify-content: space-around;
}
.number_content_item{
    width: 25%;
}
.number_content_item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number_content_item .nd{
    display: flex;
    justify-content: center;
    font-size: 65px;
    font-weight: 600;
    color: #f55f8d;
    line-height: 1;
}
.number_content_item .nd #span{
    margin-right: 15px;
}
.number_content_item .cuoi{
    font-size: 18px;
}
/* end Number */
/* start Feature */
.Our_Features{
    background-image: url(../Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.Our_Features_content{
    display: flex;
}
.Feature_content_left{
    width: 50%;
}
.Feature_content_right{
    width: 50%;
}
.left_title p{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f55f8d;
}
.left_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}
.group_item-1{
    padding: 0 50px 30px 0;
}
.group_item-2{
    padding: 0 0 30px 50px;
}
.group_item-3{
    padding: 0 50px 30px 0;
}
.item_bg{
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;        
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    overflow: hidden;
}
.item_bg::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}
.item_bg:hover::after{
    opacity: 1;
}
.item_bg:hover i{
    color: #fff;
}
.item_bg:hover .nd h3{
    color: #fff;
}
.item_bg:hover #p1{
    color: #fff;
}
.item_bg:hover #p2{
    color: #fff;
}
.item_bg i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    transition: 1s;
}
.item_bg .nd{
    z-index: 1;
    transition: 1s;
}
.item_bg h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    position: relative;
    z-index: 1;
    transition: 1s;
}
.item_bg #p1{
    color: #636363;
    margin-top: 8px;
    position: relative;
    z-index: 1;
    transition: 1s;
}
.item_bg #p2{
    color: #636363;
    margin-top: 6px;
    position: relative;
    z-index: 1;
    transition: 1s;
}
.right_img_banner{
    margin-right: -80px;
}
.right_img_banner img{
    max-width: 100%;
    animation: move2 5s infinite;
}
/* end Feature */
/* start Portfolio */
.Portfolio{
    background-image: url(../Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.Protfolio_title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.Protfolio_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}
.Portfolio_content{
    width: 100%;
    /* height: 80vh; */
    aspect-ratio: 1/0.85;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 0.75fr 0.35fr 0.56fr ;
    gap: 35px;
}
.Portfolio_content_item-1{
    /* border: 1px solid black; */
    grid-column: 1/span 2;
}
.Portfolio_content_item-5{
    /* border: 1px solid black; */
    grid-column: 1/span 2;
}
.Portfolio_content_item-6{
    /* border: 1px solid black; */
    grid-column: 3/4;
    grid-row: 2/4;
}
.PF_item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.PF_item{
    position: relative;
    overflow: hidden;
    transition: 0.75s;
}
.PF_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100% );
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.PF_item:hover::before{
    left: 125%;
}
.Portfilio_item_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s;
}
.PF_item:hover .Portfilio_item_overlay{
    opacity: 1;
}
.PF_overlay_icon{
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    font-size: 28px;
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.75s;
    transform: translateX(0);
    transform: translateY(0);
    z-index: 1;
}
.PF_item:hover .PF_overlay_icon{
    opacity: 1;
    transform: translate(-20px,20px);
}
.PF_overlay_text{
    position: absolute;
    left: 32px;
    bottom: -55px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.75s;
}
.PF_item:hover .PF_overlay_text{
    opacity: 1;
    transform: translateY(-84px);
}

.PF_overlay_text h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 8px;
}
.PF_overlay_text p{
    margin-left: -76px;
    color: rgba(255, 255, 255, 0.75);
}
.PF_overlay_icon a{
    cursor: pointer;
}
/* end Portfolio */
/* start plan */
.Choose_Your_Plan {
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center; 
}
.plan_title p{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f55f8d;
}
.plan_title h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}
.plan_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 30px;
}
.plan_content_item{
    height: 650px;
    border: 1px solid black;
    padding: 35px 60px;
    border: 3px solid transparent;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: 0.5s;
}
.plan_content_item:hover{
    border-image: url(../Samar/br.png) 1 round;
}
.plan_content_item h3{
    font-size: 32px;
    font-weight: 700;
}
.plan_content_item img{
    width: 125px;
}
.plan_p_nd{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}
.plan_p_nd #p1{
    font-size: 50px;
    font-weight: 800;
    color: #f8ae56;
}
.plan_p_nd #p2{
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}
.plan_content_item ul{
    text-align: left;
    padding: 15px 0;
    border-top:1px solid #e1e1f0;
}
.plan_content_item ul li{
    display: flex;
    padding: 5px 0;
    margin-bottom: 6px;
}
.plan_content_item ul li i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan_content_item ul li p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 3px;
}  
.plan_btn{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    line-height: 1.2;
}
.plan_btn:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
/* end plan */
/* start Testimonial */
.Testimonial{
    text-align: center;
    background-image: url(../Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.Testimonial_title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}
.Testimonial_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}
/*  */
/* .testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
    padding: 0 0 40px;
}
.testimonial__thumbs .testimonial__pic {
    padding: 30px 0 0;
    transition: all .5s;
}
.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}
.testimonial__pic::after, .testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after, .swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}
.testimonial__comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-pagination-bullets.swiper-pagination-horizontal, .testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background: #f55f8d;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
} */
/* end Testimonial */
/* start Blog */
.Our_Blog{
    background-image: url(../Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}
.Blog_title p{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}
.Blog_title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
}
/*  */
/* .no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.blog__item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog__header {
    position: relative;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.blog__header img {
    width: 100%;
    border-radius: 8px;
}
.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}
.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}
.blog__footer p:first-of-type {
    margin-right: 20px;
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.owl-theme .owl-nav {
    margin-top: 10px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
/* end Blog */
/* start footer */
footer{
    background-image: url(../Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    margin-top: 200px;
}
footer::before{
    content: "";
    background-image: url(../Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer_top .footer_text{
    width: 50%;
}
.footer_top .footer_form{
    width: 50%;
}
.footer_form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer_form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}
.footer_form input:hover{
    border-color: #f55f8d;
}
.footer_form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer_form button:hover{
    background-position: right center;
}
.footer_form button:hover i{
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}
.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer_item{
    width: 25%;
}
.footer_item li{
    padding: 0.5rem 0;
}
.footer_contact li{
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer_contact i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
    font-weight: 700;
    margin-right: 10px;
}
.footer_item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer_item h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer_item h3::before {
    width: 15px;
}
.footer_item h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer_item h3::after {
    width: 45px;
    left: 20px;
}
.footer_item li{
    display: flex;
}
.footer_item li a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer_item li p{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer_item li:hover p{
    color: #fff;
}
.footer_item li:hover a{
    color: #fff;
}
.footer_item i{
    font-weight: 700;
    margin-right: 10px;
}
.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_left {
    display: flex;
}
.footer_right a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}
.footer_right a:hover{
    background: #f55f8d;
}
/* end footer */
/*  */
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
/* .backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
} */
/*  */
.back_to_top{
    width: 60px;
    height: 60px;
    background: #f55f8d;
    text-align: center;
    line-height: 60px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    position: fixed;
    font-weight: bold;
    right: 25px;
    bottom: 25px;
    border: none;
    border-radius: 4px;
    scroll-behavior: smooth;  
}

/*  */
@keyframes toLeftFromRight{
    49%{
        transform: translateX(100%);
    }50%{
        opacity: 0;
        transform: translateX(-100%);
    }51%{
        opacity: 1;
    }
}
@keyframes move2 {
    0%{
        transform: rotate(1deg) translate(2px,2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100%{
        transform: rotate(1deg) translate(2px,2px);
    }
}

@keyframes UpToDown{
    49%{
        transform: translateY(120%);
    }
    50%{
        opacity: 0;
        transform: translateY(-150%);        
    }
    51%{
        opacity: 1;
    }
}

